<div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
  <div class="card shadow p-4" style="width: 400px; margin-top: -50px;">
    <div class="card-body">
      <div class="mb-5">
        <h2 class="card-title text-center">Registration</h2>
      </div>
      <form #registrationForm="ngForm" (ngSubmit)="register(registerModel)" novalidate>
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input placeholder="Enter your name" type="text" class="form-control" id="firstName" [(ngModel)]="registerModel.firstName" name="firstName" required>
          <div *ngIf="registrationForm.controls['firstName']?.invalid && registrationForm.controls['firstName'].touched" class="text-danger">
            First Name is required
          </div>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input placeholder="Enter your last name" type="text" class="form-control" id="lastName" [(ngModel)]="registerModel.lastName" name="lastName" required>
          <div *ngIf="registrationForm.controls['lastName']?.invalid && registrationForm.controls['lastName'].touched" class="text-danger">
            Last Name is required
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input placeholder="Enter your email" type="email" class="form-control" id="email" [(ngModel)]="registerModel.email" name="email" required>
          <div *ngIf="registrationForm.controls['email']?.invalid && registrationForm.controls['email'].touched" class="text-danger">
            Email is required
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input placeholder="Enter your password" type="password" class="form-control" id="password" [(ngModel)]="registerModel.password" name="password" required>
          <div *ngIf="registrationForm.controls['password']?.invalid && registrationForm.controls['password'].touched" class="text-danger">
            Password is required
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
      
    </div>
  </div>
</div>
